<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Sheltr - Find Human Services </title>

    <%= stylesheet_link_tag "application" %>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

  </head>

  <body>
    <%= yield %>
  </body>

  <%= javascript_include_tag "application" %>
</html>
